/* line 11, ../lib/mods/button/_class.scss */
.btn, .btn-gradient, .custom-btn, .default-button, .default-button-primary, .default-button-emphasize, .default-button-big, .default-button-big-primary, .default-button-big-emphasize, .default-button-large, .default-button-large-primary, .default-button-large-emphasize {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  *word-break: keep-all;
  *vertical-align: top;
  margin-bottom: 0;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  padding: 4px 10px 4px;
  font-size: 12px;
  line-height: 12px;
  color: #666666;
  border: 1px solid #999999;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
/* line 33, ../lib/mods/button/_class.scss */
.btn:hover, .btn-gradient:hover, .custom-btn:hover, .default-button:hover, .default-button-primary:hover, .default-button-emphasize:hover, .default-button-big:hover, .default-button-big-primary:hover, .default-button-big-emphasize:hover, .default-button-large:hover, .default-button-large-primary:hover, .default-button-large-emphasize:hover {
  text-decoration: none;
}
/* line 44, ../lib/mods/button/_class.scss */
.active.btn, .active.btn-gradient, .active.custom-btn, .active.default-button, .active.default-button-primary, .active.default-button-emphasize, .active.default-button-big, .active.default-button-big-primary, .active.default-button-big-emphasize, .active.default-button-large, .active.default-button-large-primary, .active.default-button-large-emphasize, .btn:active, .btn-gradient:active, .custom-btn:active, .default-button:active, .default-button-primary:active, .default-button-emphasize:active, .default-button-big:active, .default-button-big-primary:active, .default-button-big-emphasize:active, .default-button-large:active, .default-button-large-primary:active, .default-button-large-emphasize:active {
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-image: none;
}
/* line 50, ../lib/mods/button/_class.scss */
[disabled].btn, [disabled].btn-gradient, [disabled].custom-btn, [disabled].default-button, [disabled].default-button-primary, [disabled].default-button-emphasize, [disabled].default-button-big, [disabled].default-button-big-primary, [disabled].default-button-big-emphasize, [disabled].default-button-large, [disabled].default-button-large-primary, [disabled].default-button-large-emphasize {
  cursor: not-allowed;
}

/* line 58, ../lib/mods/button/_class.scss */
button.btn, button.btn-gradient, button.custom-btn, button.default-button, button.default-button-primary, button.default-button-emphasize, button.default-button-big, button.default-button-big-primary, button.default-button-big-emphasize, button.default-button-large, button.default-button-large-primary, button.default-button-large-emphasize {
  *overflow: visible;
  *margin-left: 4px;
}
/* line 61, ../lib/mods/button/_class.scss */
button.btn::-moz-focus-inner, button.btn-gradient::-moz-focus-inner, button.custom-btn::-moz-focus-inner, button.default-button::-moz-focus-inner, button.default-button-primary::-moz-focus-inner, button.default-button-emphasize::-moz-focus-inner, button.default-button-big::-moz-focus-inner, button.default-button-big-primary::-moz-focus-inner, button.default-button-big-emphasize::-moz-focus-inner, button.default-button-large::-moz-focus-inner, button.default-button-large-primary::-moz-focus-inner, button.default-button-large-emphasize::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* line 75, ../lib/mods/button/_class.scss */
input.btn, input.btn-gradient, input.custom-btn, input.default-button, input.default-button-primary, input.default-button-emphasize, input.default-button-big, input.default-button-big-primary, input.default-button-big-emphasize, input.default-button-large, input.default-button-large-primary, input.default-button-large-emphasize {
  _height: auto;
  *overflow: visible;
  *width: auto;
}

/* line 20, ../lib/mods/button/_mixin.scss */
.btn, .btn-gradient, .custom-btn, .default-button, .default-button-primary, .default-button-emphasize, .default-button-big, .default-button-big-primary, .default-button-big-emphasize, .default-button-large, .default-button-large-primary, .default-button-large-emphasize {
  text-shadow: none;
}

/* line 45, ../lib/mods/button/_mixin.scss */
.default-button, .default-button-big, .default-button-large {
  background-color: red;
  border-color: red red #990000 red;
  color: white;
}
/* line 14, button.scss */
.default-button:hover, .default-button-big:hover, .default-button-large:hover {
  background-color: #ff5809;
  border-color: #ff5809 #ff5809 #a23400 #ff5809;
}

/* line 45, ../lib/mods/button/_mixin.scss */
.default-button-primary, .default-button-big-primary, .default-button-large-primary {
  background-color: green;
  border-color: green green #001a00 green;
  color: white;
}
/* line 22, button.scss */
.default-button-primary:hover, .default-button-big-primary:hover, .default-button-large-primary:hover {
  background-color: #20d024;
  border-color: #20d024 #20d024 #127815 #20d024;
}

/* line 45, ../lib/mods/button/_mixin.scss */
.default-button-emphasize, .default-button-big-emphasize, .default-button-large-emphasize {
  background-color: #126dff;
  border-color: #126dff #126dff #0042ab #126dff;
  color: white;
}
/* line 30, button.scss */
.default-button-emphasize:hover, .default-button-big-emphasize:hover, .default-button-large-emphasize:hover {
  background-color: #24a3ff;
  border-color: #24a3ff #24a3ff #006ebd #24a3ff;
}

/* line 29, ../lib/mods/button/_mixin.scss */
.default-button, .default-button-primary, .default-button-emphasize {
  font-size: 12px;
  line-height: 12px;
}

/* line 29, ../lib/mods/button/_mixin.scss */
.default-button-big, .default-button-big-primary, .default-button-big-emphasize {
  font-size: 18px;
  line-height: 18px;
}

/* line 29, ../lib/mods/button/_mixin.scss */
.default-button-large, .default-button-large-primary, .default-button-large-emphasize {
  font-size: 24px;
  line-height: 24px;
}

/* line 50, button.scss */
.btn {
  background-color: #666666;
  border-color: #666666 #666666 #333333 #666666;
  color: white;
}
/* line 54, button.scss */
.btn:hover {
  background-color: #999999;
  border-color: #999999 #999999 #666666 #999999;
}

/* line 60, button.scss */
.btn-gradient {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeeeee), color-stop(40%, #cccccc));
  background-image: -webkit-linear-gradient(#eeeeee, #cccccc 40%);
  background-image: -moz-linear-gradient(#eeeeee, #cccccc 40%);
  background-image: -o-linear-gradient(#eeeeee, #cccccc 40%);
  background-image: linear-gradient(#eeeeee, #cccccc 40%);
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFEEEEEE', endColorstr='#FFCCCCCC');
  background-color: #dddddd;
  border-color: #cccccc #cccccc #999999 #cccccc;
  color: #333;
}
/* line 64, button.scss */
.btn-gradient:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cccccc), color-stop(40%, #999999));
  background-image: -webkit-linear-gradient(#cccccc, #999999 40%);
  background-image: -moz-linear-gradient(#cccccc, #999999 40%);
  background-image: -o-linear-gradient(#cccccc, #999999 40%);
  background-image: linear-gradient(#cccccc, #999999 40%);
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFCCCCCC', endColorstr='#FF999999');
  background-color: #b2b2b2;
  border-color: #999999 #999999 #666666 #999999;
}
